body {
    color: wheat;
    background-color: #444;
}

#main-text {
    color: aqua;
}

button {
    background-color: aqua;
}

.some-text {
    color: blueviolet;
}

/* 
0
1
2
3
4
5
6
7
8
9

HEX;

0
1
2
3
4
5
6
7
8
9
A
B
C
D
E
F

*/